################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/T.Pipes/obj
/T.Pipes.SourceGeneration/obj
